In [24]:
import pandas as pd
df = pd.read_csv("data/chesterfield_25-08-2021_09-00-00.csv")
df.head()

,Timestamp of Purchase,Store Name,Customer Name,"Basket Items (Name, Size & Price)",Total Price,Cash/Card,Card Number (Empty if Cash)
0,25/08/2021 09:02,Chesterfield,Scott Owens,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD,6.844802e+15
1,25/08/2021 09:04,Chesterfield,Francis Strayhorn,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD,9.557104e+15
2,25/08/2021 09:06,Chesterfield,Rodney Drake,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD,2.978328e+15
3,25/08/2021 09:08,Chesterfield,Michael Sparrow,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH,NaN
4,25/08/2021 09:10,Chesterfield,Thomas Register,"Large Flavoured iced latte - Caramel - 3.25, R...",12.95,CASH,NaN

In [3]:
to_drop = ["Customer Name", "Card Number (Empty if Cash)"]
df.drop(columns=to_drop, inplace=True)
df

,Timestamp of Purchase,Store Name,"Basket Items (Name, Size & Price)",Total Price,Cash/Card
0,25/08/2021 09:02,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD
1,25/08/2021 09:04,Chesterfield,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD
2,25/08/2021 09:06,Chesterfield,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD
3,25/08/2021 09:08,Chesterfield,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH
4,25/08/2021 09:10,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",12.95,CASH
...,...,...,...,...,...
262,25/08/2021 16:45,Chesterfield,"Large Flavoured iced latte - Vanilla - 3.25, L...",14.35,CARD
263,25/08/2021 16:49,Chesterfield,"Large Flavoured latte - Hazelnut - 2.85, Large...",6.10,CASH
264,25/08/2021 16:52,Chesterfield,"Large Flavoured iced latte - Hazelnut - 3.25, ...",10.70,CASH
265,25/08/2021 16:56,Chesterfield,Regular Flavoured latte - Hazelnut - 2.55,2.55,CASH
266,25/08/2021 16:59,Chesterfield,Large Flat white - 2.45,2.45,CASH

In [11]:
# converting time of purchase to yyyy-mm-dd h:m:s
df['Timestamp of Purchase'] = pd.to_datetime(df['Timestamp of Purchase'])
df.head(10)

,Timestamp of Purchase,Store Name,"Basket Items (Name, Size & Price)",Total Price,Cash/Card
0,2021-08-25 09:02:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD
1,2021-08-25 09:04:00,Chesterfield,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD
2,2021-08-25 09:06:00,Chesterfield,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD
3,2021-08-25 09:08:00,Chesterfield,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH
4,2021-08-25 09:10:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",12.95,CASH
5,2021-08-25 09:12:00,Chesterfield,"Large Flavoured latte - Hazelnut - 2.85, Regul...",17.40,CARD
6,2021-08-25 09:14:00,Chesterfield,"Regular Flavoured iced latte - Vanilla - 2.75,...",13.55,CARD
7,2021-08-25 09:17:00,Chesterfield,"Regular Flavoured iced latte - Caramel - 2.75,...",12.55,CARD
8,2021-08-25 09:19:00,Chesterfield,"Large Flat white - 2.45, Large Flavoured latte...",5.30,CARD
9,2021-08-25 09:21:00,Chesterfield,"Regular Flavoured iced latte - Vanilla - 2.75,...",13.05,CASH

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Timestamp of Purchase              267 non-null    datetime64[ns]
 1   Store Name                         267 non-null    object
 2   Basket Items (Name, Size & Price)  267 non-null    object
 3   Total Price                        267 non-null    float64
 4   Cash/Card                          267 non-null    object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 10.6+ KB

In [15]:
df.duplicated().sum()

0

In [16]:
new_df = df.to_csv("data/transformed_data.csv", index=False)
new_df